.video-reproducer {
    width: 100%;
    height: 100%;
}
.text-center {
    text-align: center;
}

.clip-name {
    margin-top: 8px;
}

.btn-link {
    color: darkslategray;
}

.options {
    background-color: lightgray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-row {
    background-color: #334d4d;
    color: white;
}