.text-center {
    text-align: center;
}
.container {
    height: 100%;
}

.main-row {
    height: 100%;
}
.vl {
    border-left: 1px solid lightgrey;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.main-video {
    margin-top: 20px;
}
.list-videos {
    margin-top: 20px;
}
.single-video {
    margin-top: 20px;
}
.btn-add {
    margin-top: 15px;
    background-color: green;
    font-weight: bold;
}
@media (max-width: 769px) {
    .vl{
        display: none;
    }
}

.loading {
    font-weight: bold;
    margin-top: 100px;

}
.btn-danger{
        margin-top: 100px;
}